In [2]:
#170k businesses
import csv
import pandas as pd
df_business_csv = pd.read_csv('D:\Ryerson\CIND820\Kaggle_yelp_dataset_CSV\yelp_business.csv')

In [3]:
#5 mil reviews
import csv
import pandas as pd
df_review_csv = pd.read_csv('D:\Ryerson\CIND820\Kaggle_yelp_dataset_CSV\yelp_review.csv')

In [49]:
#filter toronto
df_business_csv_tor = df_business_csv[df_business_csv["city"]=='Toronto']
df_business_csv_tor

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
15,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,0,Italian;French;Restaurants
20,lHYiCS-y8AFjUitv6MGpxg,"""Starbucks""",Liberty Village,"""85 Hanna Avenue""",Toronto,ON,M6K 3S3,43.639863,-79.419533,4.0,21,1,Food;Coffee & Tea
24,VSGcuYDV3q-AAZ9ZPq4fBQ,"""Sportster's""",The Danforth,"""1430 Danforth Avenue""",Toronto,ON,M4J 1N4,43.682867,-79.326964,2.5,7,1,Bars;Sports Bars;Nightlife
25,1K4qrnfyzKzGgJPBEcJaNQ,"""Chula Taberna Mexicana""",Leslieville,"""1058 Gerrard Street E""",Toronto,ON,M4M 3A6,43.669256,-79.335902,3.5,39,1,Tiki Bars;Nightlife;Mexican;Restaurants;Bars
27,AtdXq_gu9NTE5rx4ct_dGg,"""DAVIDsTEA""",Ryerson,"""10 Dundas Street E""",Toronto,ON,M5B 2G9,43.656729,-79.380718,4.0,6,1,Coffee & Tea;Food;Tea Rooms
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174531,dWoAayHRyIrkk1dcvBxv3Q,"""Art Ink Collective""",Christie Pits,"""823 A Bloor Street W""",Toronto,ON,M6G 1M1,43.662681,-79.422568,3.5,3,1,Shopping;Beauty & Spas;Piercing;Art Galleries;...
174536,xqNpOnxY0XzdnUE4sjmg0w,"""Chaska""",St. Lawrence,"""125 Lower Jarvis St""",Toronto,ON,M5E 1Z6,43.648705,-79.370885,4.0,4,0,Food;Grocery;Restaurants;Coffee & Tea;Indian
174543,SvW3WsatQWvR8c1iwAD_QA,"""Urban House Cafe""",Church-Wellesley Village,"""4 Dundonald Street""",Toronto,ON,M4Y 1K2,43.666034,-79.384341,4.0,32,0,Nightlife;Restaurants;Sandwiches;Bars;Canadian...
174544,nGjEV4bn0DPk8bcb0C6Aig,"""Sweet Serendipity Bake Shop""",The Danforth,"""1335 Danforth Avenue""",Toronto,ON,M4J 1N1,43.682054,-79.328996,4.5,22,1,Bakeries;Food
174561,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,4,1,Food;Ethnic Food;Specialty Food;Imported Food

In [71]:
#filter restaurant in toronto
restaurant = ['Restaurants', 'Food', 'Bars'] 
df_restaurant_tor = df_business_csv_tor[df_business_csv_tor['categories'].str.contains('|'.join(restaurant))]
df_restaurant_tor

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
15,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,0,Italian;French;Restaurants
20,lHYiCS-y8AFjUitv6MGpxg,"""Starbucks""",Liberty Village,"""85 Hanna Avenue""",Toronto,ON,M6K 3S3,43.639863,-79.419533,4.0,21,1,Food;Coffee & Tea
24,VSGcuYDV3q-AAZ9ZPq4fBQ,"""Sportster's""",The Danforth,"""1430 Danforth Avenue""",Toronto,ON,M4J 1N4,43.682867,-79.326964,2.5,7,1,Bars;Sports Bars;Nightlife
25,1K4qrnfyzKzGgJPBEcJaNQ,"""Chula Taberna Mexicana""",Leslieville,"""1058 Gerrard Street E""",Toronto,ON,M4M 3A6,43.669256,-79.335902,3.5,39,1,Tiki Bars;Nightlife;Mexican;Restaurants;Bars
27,AtdXq_gu9NTE5rx4ct_dGg,"""DAVIDsTEA""",Ryerson,"""10 Dundas Street E""",Toronto,ON,M5B 2G9,43.656729,-79.380718,4.0,6,1,Coffee & Tea;Food;Tea Rooms
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174519,1HplwLVbBid-Bgw1sEPGFg,"""Dumpling Melody Bistro""",Etobicoke,"""3266 W Lake Shore Boulevard""",Toronto,ON,M8V 1M4,43.596858,-79.523305,2.0,12,1,Restaurants;Chinese
174536,xqNpOnxY0XzdnUE4sjmg0w,"""Chaska""",St. Lawrence,"""125 Lower Jarvis St""",Toronto,ON,M5E 1Z6,43.648705,-79.370885,4.0,4,0,Food;Grocery;Restaurants;Coffee & Tea;Indian
174543,SvW3WsatQWvR8c1iwAD_QA,"""Urban House Cafe""",Church-Wellesley Village,"""4 Dundonald Street""",Toronto,ON,M4Y 1K2,43.666034,-79.384341,4.0,32,0,Nightlife;Restaurants;Sandwiches;Bars;Canadian...
174544,nGjEV4bn0DPk8bcb0C6Aig,"""Sweet Serendipity Bake Shop""",The Danforth,"""1335 Danforth Avenue""",Toronto,ON,M4J 1N1,43.682054,-79.328996,4.5,22,1,Bakeries;Food
174561,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,4,1,Food;Ethnic Food;Specialty Food;Imported Food

In [44]:
# Convert the date to datetime64
df_review_csv['date'] = pd.to_datetime(df_review_csv['date'], format='%Y-%m-%d')

# Filter data between two dates (around 300k)
df_review_csv_sept = df_review_csv.loc[(df_review_csv['date'] >= '2017-09-01')
                     & (df_review_csv['date'] < '2020-01-01')]
df_review_csv_sept

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
33,7GsVl-wMaSfG1VoEK6-s6g,u0LXt3Uea_GidxRW1xcsfg,3E5umUqaU5OZAV3jNLW3kQ,4,2017-11-02,Great place to bring dogs! It's really a dog p...,0,0,0
43,Ebggx4Zlc4VWReJMG1nT6w,u0LXt3Uea_GidxRW1xcsfg,l1_S1mfGbEMxfT1f9omhEA,1,2017-10-16,Terrible service and not so great drinks.\n\nW...,0,0,0
51,jREsaout3cuhKbROVDXUFg,u0LXt3Uea_GidxRW1xcsfg,I44P6Pfoey2pArOhhx2RnA,4,2017-10-17,Cute little hole in the wall place. Two entran...,0,0,0
69,S5BSUs-iDrwn6o5968LmEg,u0LXt3Uea_GidxRW1xcsfg,xNNAfZJkLZlAeS-I7-QwgA,3,2017-10-16,We were here on a holiday Monday where nothing...,0,0,0
198,qOkKKBgIvpg3xzxJitCoCQ,tL2pS5UOmN6aAOi3Z-qFGg,Trbt0Ex85yvwT8DHoEFCvg,1,2017-10-11,Ordered food to go from here.\n\nThey send you...,2,1,0
...,...,...,...,...,...,...,...,...,...
5261588,5_aZDCrvcJA1jSeIrOPY-A,4Iwu57GSychxpqa4w4HAMQ,ElEvFQpC5iRKAiFaGiPxvw,3,2017-10-28,Love the deli. Don't love having to take back ...,1,1,1
5261597,YeyZiBUk8gAb3vZCQxXBbQ,4Iwu57GSychxpqa4w4HAMQ,lUA9nBJ00zriLszH8taCEQ,4,2017-12-10,"Yes, i drive all the way to this clinic for my...",0,0,0
5261601,YQz-PA9hdXMZclkUPhKkBw,4Iwu57GSychxpqa4w4HAMQ,0LGnU7V3nepi8NUNzyQOXw,4,2017-10-27,The line is fifteen people deep on a busy Satu...,0,0,0
5261649,z9wJdAjysjEOGSKBaIvMGg,mPjPyipaD0C_myqWqDipZg,OsB_ZtFAaLDCPzvlAjHQ-w,3,2017-10-31,"The restaurant closes at 10:00pm, I arrived at...",0,0,0
5261650,JldIaWJdtnTJVQxmh-3SAA,mPjPyipaD0C_myqWqDipZg,AtUtG-oQp1rkk6ZdYcfSzw,2,2017-11-02,Service:\n\nAverage Chinese cafe service. Hav...,0,0,0

In [ ]:
##join table
join_BID_tor = pd.merge(df_restaurant_tor, df_review_csv_sept, on = 'business_id')
join_BID_tor

In [73]:
#export table to csv
join_BID_tor.to_csv('D:\Ryerson\CIND820\Kaggle_yelp_dataset_CSV\join_BID_tor.csv')

In [75]:
df_review_csv.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [91]:
df_restaurant_tor.describe()

          latitude    longitude        stars  review_count      is_open
count  9567.000000  9567.000000  9567.000000   9567.000000  9567.000000
mean     43.679282   -79.392764     3.454427     36.940211     0.715689
std       0.044726     0.059608     0.755538     66.828915     0.451109
min      43.589597   -79.703390     1.000000      3.000000     0.000000
25%      43.650496   -79.418080     3.000000      6.000000     0.000000
50%      43.663423   -79.393755     3.500000     15.000000     1.000000
75%      43.688002   -79.373885     4.000000     40.000000     1.000000
max      43.876501   -79.137178     5.000000   1494.000000     1.000000

In [85]:
df_business_csv_tor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17206 entries, 15 to 174561
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   17206 non-null  object
 1   name          17206 non-null  object
 2   neighborhood  14064 non-null  object
 3   address       17206 non-null  object
 4   city          17206 non-null  object
 5   state         17206 non-null  object
 6   postal_code   17102 non-null  object
 7   latitude      17205 non-null  float64
 8   longitude     17205 non-null  float64
 9   stars         17206 non-null  float64
 10  review_count  17206 non-null  int64
 11  is_open       17206 non-null  int64
 12  categories    17206 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.8+ MB